{% extends "base.html" %}


{% block main_content %}
    <h2>Query</h2>
    <form action="", method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.age.label }}
        {{ form.age()}}

        <div>{% for error in form.age.errors %}
            {{ error }}
        {% endfor %}
        </div>
        <br />

        {{ form.year.label }}
        {{ form.year()}}
        <div>
        {% for error in form.year.errors %}
            {{ error }}
        {% endfor %}
        </div>
        <br />

        {{ form.gender.label }}
        {{ form.gender()}}
        <br />

        {{ form.stat_code.label }}
        
        {{ form.stat_code()}}
        <br/>
        <div>
        {{ form.submit() }}
        </div>
    </form>


    <br />
    <br />
    {% if query_result|length == 0 and query != None %}

        <p>No match found. </p>

    {% elif query_result|length > 0 %}
        <p>Query: 
            <ul>
                {% for key, value in query.items() %}
                    {% if value != None and value != "" %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </p>
        <table>
            <tr>
                <th scope="col">Index</th>
                {% for title in header %}
                    <th scope="col">{{ title }}</th>
                {% endfor %}
            </tr>
            
            {% for data in query_result %}
                <tr> 
                    <td>{{ loop.index }}</td> 
                    {% for item in data %}         
                    <td> {{ item }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}